<div class="container">
  <div>
    <label for="length">Length</label>
    <input (input)="onProvidingLength($event)" type="text" id="length" >
  </div>
  
  <div>
    <label for="letters">Letters</label>
    <input type="checkbox" id="letters"  (change)="onIncludingLetters()">
  </div>
  
  <div>
    <label for="numbers">Numbers</label>
    <input type="checkbox" id="numbers" (change)="onIncludingNumbers()">
  </div>
  
  <div>
    <label for="specialchars">Special Characters</label>
    <input type="checkbox" id="specialchars" (change)=onIncludingSpecialChars()>
  </div>
  
  <div>
    <button (click)="onGeneratingPassword()">Generate Paasowrd</button>
  </div>
  
  <div>
    <label for="pwd">Generated Password</label>
    <input type="text" id="pwd" [value]="password">
  </div>
</div>